.typing-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.typing-input {
  border: none;
  background-color: aliceblue;
  width: 100%;
}
.typing-input:focus {
  outline: none;
}
.typing-div {
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 80%;
}
.send-button {
  width: 18%;
  border: none;
  background-color: #1957dd;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.send-button:hover {
  cursor: pointer;
  background-color: #24a0ed;
}
::-webkit-scrollbar {
  width: 0px;
}
